#!/bin/bash -e

echo "creating {{ hostgroups }}"

curl -s -u $ICINGA2_API_USER:$ICINGA2_API_PASSWORD \
     -H 'Accept: application/json' -X PUT \
     -k "https://$ICINGA2_HOST:$ICINGA2_API_PORT/v1/objects/hostgroups/{{ hostgroups }}" \
     -d '{ "attrs": { "display_name": "{{ display_hostgroup }}" } }' | python -m json.tool

sleep 5
